# rust
/target

# npm
node_modules/
public/scripts/bundle.js
npm-debug.log

# playwright
test-results/
playwright-report/
.playwright/

# vim
*.sw[a-z]

# bootstrap
public/fonts/*

# data
*.kdbx

# jetbrains
.idea
